/release/
/debug/
/pyoak/build/
/release-windows/
/debug-windows/
libpkmn-showdown.a
pkmn-showdown.lib
*.data
*.net
**/args
**/matchup-matrix
*.log
*.pyc
# Elo
**/directory
**/ratings
**/results
**/ucb
# dev
teams