[submodule "extern/lrsnash"]
	path = extern/lrsnash
	url = https://github.com/lab-oak/lrsnash
[submodule "extern/engine"]
	path = extern/engine
	url = https://github.com/lab-oak/engine
[submodule "extern/argparse"]
	path = extern/argparse
	url = https://github.com/lab-oak/argparse
