[submodule "cpp/extern/lrsnash"]
	path = cpp/extern/lrsnash
	url = https://github.com/lab-oak/lrsnash
[submodule "cpp/extern/engine"]
	path = cpp/extern/engine
	url = https://github.com/lab-oak/engine
[submodule "cpp/extern/argparse"]
	path = cpp/extern/argparse
	url = https://github.com/lab-oak/argparse
[submodule "cpp/extern/eigen"]
	path = cpp/extern/eigen
	url = https://github.com/lab-oak/eigen
