/release/
/debug/
libpkmn-showdown.a
*.battle
*.build
**/args
**/matchup-matrix
*.log
*.pyc
# TODO extensions for build/battle nets
*.net
build-network
battle-network
# Elo
**/directory
**/ratings
**/results
**/ucb